n8n_workflows_from_e2e_example/HELPER___Full_Clips_in_Sequence.json
{
  "name": "HELPER - Full Clips in Sequence",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbl8EaQHZmY23kPsn",
          "mode": "list",
          "cachedResultName": "Scripts",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbl8EaQHZmY23kPsn"
        },
        "filterByFormula": "{Active} = '1'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -200,
        -140
      ],
      "id": "23afef89-5eca-4a1f-adb3-0eb84a7bd719",
      "name": "Get script",
      "credentials": {
        "airtableTokenApi": {
          "id": "U0UoJUqDqx0lz2Sv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbla4eoB2l0LNsuUB",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbla4eoB2l0LNsuUB"
        },
        "filterByFormula": "={Full Script} = {{ $('Get script').item.json.ID }}",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "ID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        20,
        -140
      ],
      "id": "0a8bd49a-f229-4959-ba40-fa96dc3d001e",
      "name": "Get segments",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "U0UoJUqDqx0lz2Sv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -140
      ],
      "id": "10c46a7b-d79d-4442-8774-91b43023b879",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"comment\": \"Scene\",\n  \"elements\": [\n    {\n      \"type\": \"video\",\n      \"src\": \"{{$json[\"Video URL\"]}}\",\n      \"position\": \"center-center\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -140
      ],
      "id": "14b85691-d600-4f7e-9190-8fa46f3341f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"comment\": \"Video\",\n    \"resolution\": \"instagram-story\",\n    \"quality\": \"high\",\n    \"scenes\": {{ JSON.stringify($json.scenes) }},\n    \"elements\": []\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        -140
      ],
      "id": "0db08ab2-7963-41ba-8221-0c9f66e9b7c9",
      "name": "Stitch Video Together",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VPwMDsXmy5avyoE9",
          "name": "JSON2Video API Header AAIVA"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        460,
        -140
      ],
      "id": "829abe7a-e198-45be-989d-34b5ecd88215",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Get script": {
      "main": [
        [
          {
            "node": "Get segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get segments": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Stitch Video Together",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbeaabec-0e7a-4e07-8ce7-cfce5ca11dd0",
  "meta": {
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "bfUD9AVvpp0PSyrb",
  "tags": []
}