n8n_workflows_from_e2e_example/JSON2Video_with_titles.json
{
  "name": "JSON2Video with titles",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbl8EaQHZmY23kPsn",
          "mode": "list",
          "cachedResultName": "Scripts",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbl8EaQHZmY23kPsn"
        },
        "filterByFormula": "{Active} = '1'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        40,
        20
      ],
      "id": "096fad48-2bc2-4797-b483-14fdf60bbca0",
      "name": "Get script",
      "credentials": {
        "airtableTokenApi": {
          "id": "U0UoJUqDqx0lz2Sv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT8aQptl1Gx3zrs",
          "mode": "list",
          "cachedResultName": "AAIVA",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs"
        },
        "table": {
          "__rl": true,
          "value": "tbla4eoB2l0LNsuUB",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appT8aQptl1Gx3zrs/tbla4eoB2l0LNsuUB"
        },
        "filterByFormula": "={Full Script} = {{ $('Get script').item.json.ID }}",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "ID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        260,
        20
      ],
      "id": "08a7af07-93a2-4132-9e52-0dc16ad17a68",
      "name": "Get segments",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "U0UoJUqDqx0lz2Sv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        20
      ],
      "id": "6eeea2e9-3834-40fb-963d-53a7566efa66",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"comment\": \"Scene\",\n  \"background-color\": \"transparent\",\n  \"elements\": [\n    {\n      \"type\": \"text\",\n      \"style\": \"009\",\n      \"text\": \"{{ $json['Script Segment'] }}\",\n      \"settings\": {\n        \"font-family\": \"https://www.dropbox.com/scl/fi/iya75te9nr8qjhsattrcg/LibreFranklin-VariableFont_wght.ttf?rlkey=dn284qyosjxvfdvkh2s2nmrru&st=8vz4n081&dl=1\",\n        \"font-size\": \"80px\",\n        \"font-weight\": \"700\",\n        \"font-color\": \"#000000\",\n        \"text-align\": \"center\",\n        \"vertical-position\": \"center\", \n        \"horizontal-position\": \"center\",\n        \"text-shadow\": \"1px 1px 2px black\"        \n      },\n      \"duration\": {{ $json['End Time'] - $json['Start Time'] }},\n      \"width\": 1040,\n      \"height\": -1,\n      \"x\": 20\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        20
      ],
      "id": "a7e86f41-43ab-452f-8b9d-7c3a10fce77f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"comment\": \"Video\",\n    \"resolution\": \"instagram-story\",\n    \"quality\": \"high\",\n    \"scenes\": {{ JSON.stringify($json.scenes) }},\n    \"elements\": [\n        {\n            \"type\": \"video\",\n            \"src\": \"https://www.dropbox.com/scl/fi/dnsqfgenc1cyamgmz32n9/massaged_final_product.mov?rlkey=xouo7s84k88pnb4tgidcvin1w&st=vn72cm8v&dl=1\",\n            \"z-index\": -1\n        }\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        20
      ],
      "id": "5990bb09-3c0d-4ffc-9dc6-d6a301fc5d16",
      "name": "Stitch Video Together",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VPwMDsXmy5avyoE9",
          "name": "JSON2Video API Header AAIVA"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        700,
        20
      ],
      "id": "98d433ca-b509-45d4-a5dc-ea74b445aec7",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Get script": {
      "main": [
        [
          {
            "node": "Get segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get segments": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Stitch Video Together",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d0d8698-a2f5-4c8f-aa65-18308705def4",
  "meta": {
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "eAl802faRg5siLQY",
  "tags": []
}